[Unit]
Description = Mumble Client  
After = systemd-user-sessions.service network.target sound.target

[Service]
User = mumble  
Group = mumble  
Type = simple  
ExecStart = /home/mumble/bin/talkiepi
Restart = on-abort  
RestartSec = 5

[Install]
WantedBy = multi-user.target  