[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = mumble  
Group = mumble  
Type = simple  
ExecStart = /home/mumble/bin/talkiepi
Restart = always 
RestartSec = 5

[Install]
WantedBy = multi-user.target
